rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {    
    match /users/{userId} {
			allow create, read, update: if request.auth != null && request.auth.uid == userId;
    }
  	
    match /users/{userId}/syncProfiles/{syncProfileId}{
      allow read: if request.auth != null && request.auth.uid == userId;
    }

    match /backendAuthorizations/{document=**} {
      allow read, write: if false;
    }
  }
}