# Version control
.git
.gitignore

# Python environments
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/

# Local development
.env
.env.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 